.background{
    background-color: #FFD8D8;
}

.jumbotron{
    background-color: #e7a8ee;
}

.card-shadow{
    width: 18rem;
}

a:hover{
    text-decoration: none;
}

.selectCard:hover{
    border: orchid solid 2px;
    transition: .1s linear;
}

.color{
    background-color: rgba(236, 195, 215, 0.767);
}

input{
    width: 2000px;
}