.background{
    background-color: #FFD8D8;
}

.jumbotron{
    background-color: #e7a8ee;
}

.card-shadow{
    width: 18rem;
}

a:hover{
    text-decoration: none;
}

.selectCard:hover{
    border: orchid solid 2px;
    transition: .1s linear;
}

.color{
    background-color: rgba(236, 195, 215, 0.767);
}

.sizeteddies{
    object-fit: cover;
    height: 300px;
}

.bg{
    background-color: rgba(245, 201, 235, 0.096);
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 30px;
}